body {
    background-image: url(https://res.cloudinary.com/flgmucfs/image/upload/v1788635216/imkbynhctsrb9gjivxsu.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: DejaVu Sans Mono, monospace;
    line-height: 2.0;
    text-align: center;
    color: #fcfcfc;

}

above is just the section of the background and wallpaper of the site

------------------------------------------


header {
    color: rgb(12, 12, 12);
    padding: 2rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}


header h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #CED9E9;
}

header p {
    font-size: 1.2rem;
    margin: 0.5rem 0 0;
    color: #CED9E9;
}

header h4 {
    font-size: 1.2rem;
    margin: 0.5rem 0 0;
  
}

header nav {
  
    font-size: 1.2rem;
    margin: 0.5rem 0 0;

  
}


above is just the section of the header, now i will continue with the rest of the code

------------------------------------------

